header{
    
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    align-items: center;
    background: transparent;
    transition: all ease 0.5s;
    margin-left: 20px;
    margin-right: 20px;
    justify-content:center;
    align-items: center;
    
}

.btn{
    display: flex;
    width: 100x;
    height: 36px;
    background-color: rgba(144,180,251,1);
    border-radius: 5px;
    font-size: 20px;
    border: none;
    align-items: center;
    justify-content:center;
    margin-right: 20px;
}

.btn2{
  display: flex;
  width: 100x;
  height: 36px;
  background-color: rgba(144,180,251,1);
  border-radius: 5px;
  font-size: 20px;
  border: none;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.btn3{
  display: flex;
  width: 100px;
  height: 36px;
  background-color: rgba(144,180,251,1);
  border-radius: 5px;
  font-size: 20px;
  border: none;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.txt{
  font-family: Times New Roman;
  font-style: normal;
  font-weight: 700;
  color: #000;
  font-size: 20px;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
.header--logo{
    height: 90px;
}

.header--logo img{
    height: 100%;
    border-radius: 5px;

}


@media (max-width: 760px){
    header{
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        height: 00px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        transition: all ease 0.5s;
        margin-left: 10px;
        margin-right: 10px;
    }

    .header--logo {
        height: 00px;
    }
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

   
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: rgb(109, 109, 109);
    border-bottom:3px solid rgb(56,118,246);
}

*/