.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  pointer-events: none;
}


.App-header {
  background-color: #d2d2d2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Title{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #3C77FF;

}

.Subtitle{
  margin-top: 0px;
  color: #000000;

}

.card {
  padding: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: fill;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  color: #fff;
  background-color: #fff;
  border-radius: 10px;
  
}

.telefone1 {
  margin-top: 0px;
  color: #000000;
  justify-content: space-around;
}
